<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>汽车销量大屏</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <style>
        #charts {
            display: flex;
            flex-wrap: wrap;
        }
        .chart {
            width: 45%;
            margin: 20px;
        }
    </style>
</head>
<body>
    <h3>flask_Dcar运行成功</h3>
    <div id="charts">
        <div class="chart" id="brand-sales-pie"></div>
        <div class="chart" id="type-sales-bar"></div>
    </div>

</body>
</html>
